<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dpdshippingpickup>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>DpdPoland\Dpdshippingpickup\Model\Carrier\Shipping</model>
                <name>DPD POLSKA - Odbiór w punkcie</name>
                <price>10.00</price>
                <title>DPD POLSKA - Odbiór w punkcie</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
                <free_shipping>0</free_shipping>
                <free_shipping_minimal_amount>0</free_shipping_minimal_amount>
            </dpdshippingpickup>
        </carriers>
    </default>
</config>