<div id="dpd-widget-select">
    <label for="point-wrapper" data-bind="i18n: 'Wybrany punkt:'"></label>
    <input type="text" name="shipping_dpd_pickup" id="point-wrapper" title="Numer wybranego punktu odbioru"
           class="input-text" disabled="disabled"/>
</div>

<div id="dpd-widget"></div>

<div data-bind="afterRender:
function() {
    var $ = jQuery.noConflict();

    const dpdShippingMethodValue = 'dpdshippingpickup_dpdshippingpickup';
    const dpdPointWrapperSelector = '#point-wrapper';
    const dpdOrderNextButtonSelector = '#shipping-method-buttons-container button[data-role=\'opc-continue\']';

    function isDpdPickupPointSelected() {
        const isDpdPickupSelected = $(`input[type=radio][value='${dpdShippingMethodValue}']`).prop('checked');
        const dpdPickupPointValue = $(dpdPointWrapperSelector).val();

        if (isDpdPickupSelected) {
            if (!dpdPickupPointValue || dpdPickupPointValue.trim() === '') {
                return false;
            }
        }
        return true;
    }

    $('body').on('click', dpdOrderNextButtonSelector, function (e) {
        if (!isDpdPickupPointSelected()) {
            e.preventDefault();
            alert($t('Please select a DPD Pickup point before proceeding.'));
        }
    });
}">
</div>